<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>details!</h1>
    <h2>{{superhero.superhero_name}}</h2>
    <h2>{{superhero.alter_ego_name}}</h2>
    <h2>{{superhero.primary_ability}}</h2>
    <h2>{{superhero.secondary_ability}}</h2>
    <h2>{{superhero.catch_phrase}}</h2>

    <div class="container-fluid">
    <a href="{% url 'myapp:edit_existing_superhero' superhero.id %}" class="btn btn-primary">Edit Superhero</a>


    <a href="{% url 'myapp:delete_existing_superhero' superhero.id %}" class="btn btn-primary">Delete Superhero</a>
    
    <a href="{% url 'myapp:index' %}" class="btn btn-primary">Select New Hero</a>
    
    </div>


    
  </body>
</html>
