<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hero edit</title>
  </head>
  <body>
    <form
      action="{% url 'myapp:edit_existing_superhero' hero.id %}"
      method="post"
    >
      {% csrf_token %} <br />
      Name: <input type="text" name="name" id="name" /><br />
      Alter ego:
      <input
        type="text"
        name="alter_ego"
        id="alter_ego"
        value="{{hero.superhero_name}}"
      /><br />
      Primary ability:<input
        type="text"
        name="primary_ability"
        id="primary_ability"
      /><br />
      Secondary ability:<input
        type="text"
        name="secondary_ability"
        id="secondary_ability"
      /><br />
      Catchphrase:
      <input type="text" name="catchphrase" id="catchphrase" /><br />
      <input type="submit" value="Edit your hero!" />
    </form>
  </body>
</html>
