<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superheroes index?</title>
  </head>
  <body>
    <h1>Hello, Superheroes maybe? plz...</h1>

    <!-- <form action="{% url 'myapp:create_new_superhero' %}" method="post">
      {% csrf_token %} <br />
      Name: <input type="text" name="name" id="name" /><br />
      Alter ego: <input type="text" name="alter_ego" id="alter_ego" /><br />
      Primary ability:<input
        type="text"
        name="primary_ability"
        id="primary_ability"
      /><br />
      Secondary ability:<input
        type="text"
        name="secondary_ability"
        id="secondary_ability"
      /><br />
      Catchphrase:
      <input type="text" name="catchphrase" id="catchphrase" /><br />
      <input type="submit" value="Add new!" />
    </form> -->

    <ul>
      {% for hero in all_superheroes %}
      <li>
        <h2>{{hero.superhero_name}}</h2>
        <a href="{% url 'myapp:detail' hero.id %}">more info</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
